# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Exports
exports/
